<!-- <div class="grid"> -->
  <!-- <div class='image'> -->
    <div class="mask">
      <div class="name">
        {{item.name}}
        <div class='image' style="background-image:url('images/bgs/1.jpg')">
</div>     
 </div>              
      <div class="date">3 days ago</div>
    </div>
  <!-- </div> -->
