<div id="content">
  <div class="menubar">
    <div class="sidebar-toggler visible-xs">
      <i class="ion-navicon"></i>
    </div>

    <div class="page-title">
      Image Gallery
    </div>
    <a class="btn btn-success pull-right">
      Add a new image
    </a>
  </div>

  <div class="content-wrapper clearfix">
    <div class="gallery-wrapper">
      {{yield}}
    </div>
  </div>
</div>

