<body id="signup" class="clear">

	<h3>Create Your Account Now</h3>

	<div class="content">
{{signup-form makeAccount='createAccount'}}
	</div>

	<div class="bottom-wrapper">
		<div class="message">
			<span>Already have an account?</span>
      {{#link-to 'login'}}Sign in here{{/link-to}}
		</div>
	</div>
</body>
