<body id="gallery">
  <div id="wrapper">
    <div id="sidebar-default" class="main-sidebar">
      <div class="current-user">
        <a href="index.html" class="name">
          <img class="avatar" src="images/avatars/1.jpg" />
          <span>
            John Smith
            <i class="fa fa-chevron-down"></i>
          </span>
        </a>
        <ul class="menu">
          <li>
            <a href="account-profile.html">Account settings</a>
          </li>
          <li>
            <a href="account-billing.html">Billing</a>
          </li>
          <li>
            <a href="account-notifications.html">Notifications</a>
          </li>
          <li>
            <a href="account-support.html">Help / Support</a>
          </li>
          <li>
            <a href="signup.html">Sign out</a>
          </li>
        </ul>
      </div>
      <div class="menu-section">
        <h3>General</h3>
        <ul>
          <li>
            <a href="index.html">
              <i class="ion-android-earth"></i> 
              <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a href="users.html" data-toggle="sidebar">
              <i class="ion-person-stalker"></i> <span>Lists & Tables</span>
              <i class="fa fa-chevron-down"></i>
            </a>
            <ul class="submenu">
              <li><a href="users.html">Customers list</a></li>
              <li><a href="datatables.html">Orders (Datatables)</a></li>
              <li><a href="search.html">Products (Filters)</a></li>
            </ul>
          </li>
          <li>
            <a href="users.html" data-toggle="sidebar">
              <i class="ion-stats-bars"></i> <span>Reports</span>
              <i class="fa fa-chevron-down"></i>
            </a>
            <ul class="submenu">
              <li><a href="reports.html">Reports orders</a></li>
              <li><a href="reports-alt.html">Report sales</a></li>
            </ul>
          </li>
          <li>
            <a href="users.html" data-toggle="sidebar">
              <i class="ion-pricetags"></i> <span>Forms</span>
              <i class="fa fa-chevron-down"></i>
            </a>
            <ul class="submenu">
              <li><a href="form.html">New Customer (validation)</a></li>
              <li><a href="form-product.html">New Product (add-ons)</a></li>
              <li><a href="wizard.html">Wizard</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="menu-section">
        <h3>Application</h3>
        <ul>
          <li>
            <a href="account.html" data-toggle="sidebar">
              <i class="ion-earth"></i> <span>App Pages</span>
              <i class="fa fa-chevron-down"></i>
            </a>
            <ul class="submenu">
              <li><a href="sidebar.html">Inbox Messages</a></li>
              <li><a href="user-profile.html">User profile</a></li>
              <li><a href="latest-activity.html">Latest activity</a></li>
              <li><a href="projects.html">Projects</a></li>
              <li><a href="steps.html">Steps to launch</a></li>
              <li><a href="calendar.html">Calendar</a></li>
            </ul>
          </li>
          <li>
            <a href="account.html" data-toggle="sidebar">
              <i class="ion-card"></i> <span>Pricing</span>
              <i class="fa fa-chevron-down"></i>
            </a>
            <ul class="submenu">
              <li><a href="pricing.html">Pricing (Plans)</a></li>
              <li><a href="pricing-alt.html">Pricing charts</a></li>
              <li><a href="billing-form.html">Billing form</a></li>
              <li><a href="invoice.html">Invoice</a></li>
            </ul>
          </li>
          <li>
            <a href="account.html" class="active" data-toggle="sidebar">
              <i class="ion-flash"></i> <span>Features</span>
              <i class="fa fa-chevron-down"></i>
            </a>
            <ul class="submenu">
              <li><a href="email-templates.html">Email templates</a></li>
              <li><a href="gallery.html" class="active">Gallery</a></li>
              <li><a href="ui.html">UI Extras</a></li>
              <li><a href="docs.html">API Documentation</a></li>
              <li><a href="signup.html">Sign up</a></li>
              <li><a href="signin.html">Sign in</a></li>
              <li><a href="status.html">App Status</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="menu-section">
        <h3>Admin</h3>
        <ul>
          <li>
            <a href="account.html" data-toggle="sidebar">
              <i class="ion-person"></i> <span>My account</span>
              <i class="fa fa-chevron-down"></i>
            </a>
            <ul class="submenu">
              <li><a href="account-profile.html">Settings</a></li>
              <li><a href="account-billing.html">Billing</a></li>
              <li><a href="account-notifications.html">Notifications</a></li>
              <li><a href="account-support.html">Support</a></li>
            </ul>
          </li>
          <li>
            <a href="#" data-toggle="sidebar">
              <i class="ion-usb"></i> <span>Level Navigation</span>
              <i class="fa fa-chevron-down"></i>
            </a>
            <ul class="submenu">
              <li>
                <a href="invoice.html" data-toggle="sidebar">
                  Submenu
                  <i class="fa fa-chevron-down"></i>
                </a>
                <ul class="submenu">
                  <li><a href="#">Last menu</a></li>
                  <li><a href="#">Last menu</a></li>
                </ul>
              </li>
              <li><a href="invoice.html">Menu link</a></li>
              <li><a href="#">Extra link</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div id="content">
      <div class="menubar">
        <div class="sidebar-toggler visible-xs">
          <i class="ion-navicon"></i>
        </div>
        
        <div class="page-title">
          Image Gallery
        </div>
        <a class="btn btn-success pull-right">
          Add a new image
        </a>
      </div>
      <a href="#" {{action 'logout'}}>Logout</a>

      <div class="content-wrapper clearfix">
        <div class="gallery-wrapper grid">
          <!-- <div class="image" style="background&#45;image:url('images/bgs/1.jpg')"> -->
            {{!#masonry-grid customLayout=true gutter=gutter columnWidth=columnWidth items=items as |item index grid|}}
            {{#masonry-grid gutter=gutter columnWidth=columnWidth items=items as |item|}}
              <img src='images/bgs/1.jpg' style='height:50px;width:50px;'/> 
              {{item.name}}
            {{/masonry-grid}}
          </div>
{{!#masonry-grid items=items itemSelector='.image' as |item|}}
<!-- <div class="image" style="background&#45;image:url('images/bgs/1.jpg')"> -->
<!--   <!&#45;&#45; <div class='image'> &#45;&#45;> -->
<!--     <div class="mask"> -->
<!--       <div class="name"> -->
<!--         {{!item.name}} -->
<!--       </div>               -->
<!--       <div class="date">3 days ago</div> -->
<!--     </div> -->
<!--   </div> -->
{{!/masonry-grid}}

        <div class="filter clearfix">
          <section class="pull-left">
            <span>Filter:</span>
            <a href="#" class="active">Liked</a>
            <a href="#">Visited</a>
          </section>
          <section class="pull-right">
            <span>Sort by:</span>
            <a href="#" class="active">Size</a>
            <a href="#">Name</a>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div class="skin-switcher">
    <div class="toggler">
      <i class="brankic-brush"></i>
    </div>
    <ul class="menu">
      <li>
        <a class="active" data-skin="sidebar-default" href="#">
          <span class="color default"></span> Default
          <i class="fa fa-check"></i>
        </a>
      </li>
      <li>
        <a data-skin="sidebar-clear" href="#">
          <span class="color clear"></span> Clear
          <i class="fa fa-check"></i>
        </a>
      </li>
      <li>
        <a data-skin="sidebar-black" href="#">
          <span class="color black"></span> Black
          <i class="fa fa-check"></i>
        </a>
      </li>
      <li>
        <a data-skin="sidebar-dark" href="#">
          <span class="color dark"></span> Dark
          <i class="fa fa-check"></i>
        </a>
      </li>
      <li>
        <a data-skin="sidebar-flat" href="#">
          <span class="color flat"></span> Flat
          <i class="fa fa-check"></i>
        </a>
      </li>
      <li>
        <a data-skin="sidebar-flat-dark" href="#">
          <span class="color flat-dark"></span> Flat dark
          <i class="fa fa-check"></i>
        </a>
      </li>
    </ul>
  </div>
</body>
