


{{partial 'partial/-dashboard'}}
<!-- <body id="dashboard"> -->
<!--  -->
<!-- 	<div id="wrapper"> -->
<!-- 		<div id="sidebar&#45;default" class="main&#45;sidebar"> -->
<!-- 			<div class="current&#45;user"> -->
<!-- 				<a href="index.html" class="name"> -->
<!-- 					<img class="avatar" src="images/avatars/1.jpg" /> -->
<!-- 					<span> -->
<!-- 						John Smith -->
<!-- 						<i class="fa fa&#45;chevron&#45;down"></i> -->
<!-- 					</span> -->
<!-- 				</a> -->
<!-- 				<ul class="menu"> -->
<!-- 					<li> -->
<!-- 						<a href="account&#45;profile.html">Account settings</a> -->
<!-- 					</li> -->
<!-- 					<li> -->
<!-- 						<a href="account&#45;billing.html">Billing</a> -->
<!-- 					</li> -->
<!-- 					<li> -->
<!-- 						<a href="account&#45;notifications.html">Notifications</a> -->
<!-- 					</li> -->
<!-- 					<li> -->
<!-- 						<a href="account&#45;support.html">Help / Support</a> -->
<!-- 					</li> -->
<!-- 					<li> -->
<!-- 						<a href="signup.html">Sign out</a> -->
<!-- 					</li> -->
<!-- 				</ul> -->
<!-- 			</div> -->
<!-- 			<div class="menu&#45;section"> -->
<!-- 				<h3>General</h3> -->
<!-- 				<ul> -->
<!-- 					<li> -->
<!-- 						<a href="index.html" class="active"> -->
<!-- 							<i class="ion&#45;android&#45;earth"></i>  -->
<!-- 							<span>Dashboard</span> -->
<!-- 						</a> -->
<!-- 					</li> -->
<!-- 					<li> -->
<!-- 						<a href="users.html" data&#45;toggle="sidebar"> -->
<!-- 							<i class="ion&#45;person&#45;stalker"></i> <span>Lists &#38; Tables</span> -->
<!-- 							<i class="fa fa&#45;chevron&#45;down"></i> -->
<!-- 						</a> -->
<!-- 						<ul class="submenu"> -->
<!-- 							<li><a href="users.html">Customers list</a></li> -->
<!-- 							<li><a href="datatables.html">Orders (Datatables)</a></li> -->
<!-- 							<li><a href="search.html">Products (Filters)</a></li> -->
<!-- 						</ul> -->
<!-- 					</li> -->
<!-- 					<li> -->
<!-- 						<a href="users.html" data&#45;toggle="sidebar"> -->
<!-- 							<i class="ion&#45;stats&#45;bars"></i> <span>Reports</span> -->
<!-- 							<i class="fa fa&#45;chevron&#45;down"></i> -->
<!-- 						</a> -->
<!-- 						<ul class="submenu"> -->
<!-- 							<li><a href="reports.html">Reports orders</a></li> -->
<!-- 							<li><a href="reports&#45;alt.html">Report sales</a></li> -->
<!-- 						</ul> -->
<!-- 					</li> -->
<!-- 					<li> -->
<!-- 						<a href="users.html" data&#45;toggle="sidebar"> -->
<!-- 							<i class="ion&#45;pricetags"></i> <span>Forms</span> -->
<!-- 							<i class="fa fa&#45;chevron&#45;down"></i> -->
<!-- 						</a> -->
<!-- 						<ul class="submenu"> -->
<!-- 							<li><a href="form.html">New Customer (validation)</a></li> -->
<!-- 							<li><a href="form&#45;product.html">New Product (add&#45;ons)</a></li> -->
<!-- 							<li><a href="wizard.html">Wizard</a></li> -->
<!-- 						</ul> -->
<!-- 					</li> -->
<!-- 				</ul> -->
<!-- 			</div> -->
<!-- 			<div class="menu&#45;section"> -->
<!-- 				<h3>Application</h3> -->
<!-- 				<ul> -->
<!-- 					<li> -->
<!-- 						<a href="account.html" data&#45;toggle="sidebar"> -->
<!-- 							<i class="ion&#45;earth"></i> <span>App Pages</span> -->
<!-- 							<i class="fa fa&#45;chevron&#45;down"></i> -->
<!-- 						</a> -->
<!-- 						<ul class="submenu"> -->
<!-- 							<li><a href="sidebar.html">Inbox Messages</a></li> -->
<!-- 							<li><a href="user&#45;profile.html">User profile</a></li> -->
<!-- 							<li><a href="latest&#45;activity.html">Latest activity</a></li> -->
<!-- 							<li><a href="projects.html">Projects</a></li> -->
<!-- 							<li><a href="steps.html">Steps to launch</a></li> -->
<!-- 							<li><a href="calendar.html">Calendar</a></li> -->
<!-- 						</ul> -->
<!-- 					</li> -->
<!-- 					<li> -->
<!-- 						<a href="account.html" data&#45;toggle="sidebar"> -->
<!-- 							<i class="ion&#45;card"></i> <span>Pricing</span> -->
<!-- 							<i class="fa fa&#45;chevron&#45;down"></i> -->
<!-- 						</a> -->
<!-- 						<ul class="submenu"> -->
<!-- 							<li><a href="pricing.html">Pricing (Plans)</a></li> -->
<!-- 							<li><a href="pricing&#45;alt.html">Pricing charts</a></li> -->
<!-- 							<li><a href="billing&#45;form.html">Billing form</a></li> -->
<!-- 							<li><a href="invoice.html">Invoice</a></li> -->
<!-- 						</ul> -->
<!-- 					</li> -->
<!-- 					<li> -->
<!-- 						<a href="account.html" data&#45;toggle="sidebar"> -->
<!-- 							<i class="ion&#45;flash"></i> <span>Features</span> -->
<!-- 							<i class="fa fa&#45;chevron&#45;down"></i> -->
<!-- 						</a> -->
<!-- 						<ul class="submenu"> -->
<!-- 							<li><a href="email&#45;templates.html">Email templates</a></li> -->
<!-- 							<li><a href="gallery.html">Gallery</a></li> -->
<!-- 							<li><a href="ui.html">UI Extras</a></li> -->
<!-- 							<li><a href="docs.html">API Documentation</a></li> -->
<!-- 							<li><a href="signup.html">Sign up</a></li> -->
<!-- 							<li><a href="signin.html">Sign in</a></li> -->
<!-- 							<li><a href="status.html">App Status</a></li> -->
<!-- 						</ul> -->
<!-- 					</li> -->
<!-- 				</ul> -->
<!-- 			</div> -->
<!-- 			<div class="menu&#45;section"> -->
<!-- 				<h3>Admin</h3> -->
<!-- 				<ul> -->
<!-- 					<li> -->
<!-- 						<a href="account.html" data&#45;toggle="sidebar"> -->
<!-- 							<i class="ion&#45;person"></i> <span>My account</span> -->
<!-- 							<i class="fa fa&#45;chevron&#45;down"></i> -->
<!-- 						</a> -->
<!-- 						<ul class="submenu"> -->
<!-- 							<li><a href="account&#45;profile.html">Settings</a></li> -->
<!-- 							<li><a href="account&#45;billing.html">Billing</a></li> -->
<!-- 							<li><a href="account&#45;notifications.html">Notifications</a></li> -->
<!-- 							<li><a href="account&#45;support.html">Support</a></li> -->
<!-- 						</ul> -->
<!-- 					</li> -->
<!-- 					<li> -->
<!-- 						<a href="#" data&#45;toggle="sidebar"> -->
<!-- 							<i class="ion&#45;usb"></i> <span>Level Navigation</span> -->
<!-- 							<i class="fa fa&#45;chevron&#45;down"></i> -->
<!-- 						</a> -->
<!-- 						<ul class="submenu"> -->
<!-- 							<li> -->
<!-- 								<a href="invoice.html" data&#45;toggle="sidebar"> -->
<!-- 									Submenu -->
<!-- 									<i class="fa fa&#45;chevron&#45;down"></i> -->
<!-- 								</a> -->
<!-- 								<ul class="submenu"> -->
<!-- 									<li><a href="#">Last menu</a></li> -->
<!-- 									<li><a href="#">Last menu</a></li> -->
<!-- 								</ul> -->
<!-- 							</li> -->
<!-- 							<li><a href="invoice.html">Menu link</a></li> -->
<!-- 							<li><a href="#">Extra link</a></li> -->
<!-- 						</ul> -->
<!-- 					</li> -->
<!-- 				</ul> -->
<!-- 			</div> -->
<!-- 			<div class="bottom&#45;menu hidden&#45;sm"> -->
<!-- 				<ul> -->
<!-- 					<li><a href="#"><i class="ion&#45;help"></i></a></li> -->
<!-- 					<li> -->
<!-- 						<a href="#"> -->
<!-- 							<i class="ion&#45;archive"></i> -->
<!-- 							<span class="flag"></span> -->
<!-- 						</a> -->
<!-- 						<ul class="menu"> -->
<!-- 							<li><a href="#">5 unread messages</a></li> -->
<!-- 							<li><a href="#">12 tasks completed</a></li> -->
<!-- 							<!&#45;&#45; <li><a href="#">3 features added</a></li> &#45;&#45;> -->
<!-- 						</ul> -->
<!-- 					</li> -->
<!-- 					<li><a href="signup.html"><i class="ion&#45;log&#45;out"></i></a></li> -->
<!-- 				</ul> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!--  -->
<!-- 		<div id="content"> -->
<!-- 			<div class="menubar"> -->
<!-- 				<div class="sidebar&#45;toggler visible&#45;xs"> -->
<!-- 					<i class="ion&#45;navicon"></i> -->
<!-- 				</div> -->
<!--  -->
<!-- 				<div class="page&#45;title"> -->
<!-- 					Dashboard -->
<!-- 				</div> -->
<!--  -->
<!-- 				<div class="period&#45;select hidden&#45;xs"> -->
<!-- 					<form class="input&#45;daterange"> -->
<!-- 						<div class="input&#45;group input&#45;group&#45;sm"> -->
<!-- 						  	<span class="input&#45;group&#45;addon"> -->
<!-- 						  		<i class="fa fa&#45;calendar&#45;o"></i> -->
<!-- 						  	</span> -->
<!-- 						  	<input name="start" type="text" class="form&#45;control datepicker" placeholder="02/27/2014" /> -->
<!-- 						</div> -->
<!--  -->
<!-- 						<p class="pull&#45;left">to</p> -->
<!--  -->
<!-- 						<div class="input&#45;group input&#45;group&#45;sm"> -->
<!-- 						  	<span class="input&#45;group&#45;addon"> -->
<!-- 						  		<i class="fa fa&#45;calendar&#45;o"></i> -->
<!-- 						  	</span> -->
<!-- 						  	<input name="end" type="text" class="form&#45;control datepicker" placeholder="02/27/2014" /> -->
<!-- 						</div> -->
<!-- 					</form> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!--  -->
<!-- 			<div class="content&#45;wrapper"> -->
<!-- 				<div class="metrics clearfix"> -->
<!-- 					<div class="metric"> -->
<!-- 						<span class="field">Total users</span> -->
<!-- 						<span class="data">24,900</span> -->
<!-- 					</div> -->
<!-- 					<div class="metric"> -->
<!-- 						<span class="field">New sign ups</span> -->
<!-- 						<span class="data">108</span> -->
<!-- 					</div> -->
<!-- 					<div class="metric"> -->
<!-- 						<span class="field">Sales this month</span> -->
<!-- 						<span class="data">$674.00</span> -->
<!-- 					</div> -->
<!-- 					<div class="metric"> -->
<!-- 						<span class="field">Total Sales</span> -->
<!-- 						<span class="data">$3,823.90</span> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!--  -->
<!-- 				<div class="chart"> -->
<!-- 					<h3> -->
<!-- 						Concurrent visitors last 2 weeks -->
<!--  -->
<!-- 						<div class="total pull&#45;right hidden&#45;xs"> -->
<!-- 							12,958 total -->
<!--  -->
<!-- 							<div class="change up"> -->
<!-- 								<i class="fa fa&#45;chevron&#45;up"></i> -->
<!-- 								10% -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</h3> -->
<!-- 					<div id="visitors&#45;chart"></div> -->
<!-- 				</div> -->
<!--  -->
<!-- 				<div class="charts&#45;half clearfix"> -->
<!-- 					<div class="chart pull&#45;left"> -->
<!-- 						<h3> -->
<!-- 							Succesful payments -->
<!--  -->
<!-- 							<div class="total pull&#45;right hidden&#45;xs"> -->
<!-- 								$3,124.00 total -->
<!--  -->
<!-- 								<div class="change up"> -->
<!-- 									<i class="fa fa&#45;chevron&#45;up"></i> -->
<!-- 									6.5% -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</h3> -->
<!-- 						<div id="payments&#45;chart"></div> -->
<!-- 					</div> -->
<!-- 					<div class="chart pull&#45;right"> -->
<!-- 						<h3> -->
<!-- 							New customers -->
<!--  -->
<!-- 							<div class="total pull&#45;right hidden&#45;xs"> -->
<!-- 								1,402 total -->
<!--  -->
<!-- 								<div class="change down"> -->
<!-- 									<i class="fa fa&#45;chevron&#45;down"></i> -->
<!-- 									3.5% -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</h3> -->
<!-- 						<div id="signups&#45;chart"></div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!--  -->
<!-- 				<div class="row"> -->
<!-- 					<div class="col&#45;sm&#45;6"> -->
<!-- 						<div class="barchart"> -->
<!-- 							<h3>Visitors last month</h3> -->
<!-- 							<div id="bar&#45;chart"></div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 					<div class="col&#45;sm&#45;6"> -->
<!-- 						<div class="referrals"> -->
<!-- 							<h3>Top Referrals</h3> -->
<!-- 							<div class="referral"> -->
<!-- 								<span> -->
<!-- 									www.google.com -->
<!--  -->
<!-- 									<div class="pull&#45;right"> -->
<!-- 										<span class="data">293</span>  67% -->
<!-- 									</div> -->
<!-- 								</span> -->
<!-- 								<div class="progress"> -->
<!-- 								  	<div class="progress&#45;bar progress&#45;bar&#45;success" role="progressbar" aria&#45;valuenow="40" aria&#45;valuemin="0" aria&#45;valuemax="100" style="width: 67%"> -->
<!-- 								  	</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 							<div class="referral"> -->
<!-- 								<span> -->
<!-- 									www.facebook.com -->
<!--  -->
<!-- 									<div class="pull&#45;right"> -->
<!-- 										<span class="data">104</span>  17% -->
<!-- 									</div> -->
<!-- 								</span> -->
<!-- 								<div class="progress"> -->
<!-- 								  	<div class="progress&#45;bar progress&#45;bar&#45;success" role="progressbar" aria&#45;valuenow="40" aria&#45;valuemin="0" aria&#45;valuemax="100" style="width: 17%"> -->
<!-- 								  	</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 							<div class="referral"> -->
<!-- 								<span> -->
<!-- 									www.twitter.com -->
<!--  -->
<!-- 									<div class="pull&#45;right"> -->
<!-- 										<span class="data">57</span>  10% -->
<!-- 									</div> -->
<!-- 								</span> -->
<!-- 								<div class="progress"> -->
<!-- 								  	<div class="progress&#45;bar progress&#45;bar&#45;success" role="progressbar" aria&#45;valuenow="40" aria&#45;valuemin="0" aria&#45;valuemax="100" style="width: 10%"> -->
<!-- 								  	</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 							<div class="referral"> -->
<!-- 								<span> -->
<!-- 									www.instagram.com -->
<!--  -->
<!-- 									<div class="pull&#45;right"> -->
<!-- 										<span class="data">29</span>  6% -->
<!-- 									</div> -->
<!-- 								</span> -->
<!-- 								<div class="progress"> -->
<!-- 								  	<div class="progress&#45;bar progress&#45;bar&#45;success" role="progressbar" aria&#45;valuenow="40" aria&#45;valuemin="0" aria&#45;valuemax="100" style="width: 6%"> -->
<!-- 								  	</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!--  -->
<!-- 	<div class="skin&#45;switcher"> -->
<!-- 		<div class="toggler"> -->
<!-- 			<span class="brankic&#45;brush"></span> -->
<!-- 		</div> -->
<!-- 		<ul class="menu"> -->
<!-- 			<li> -->
<!-- 				<a class="active" data&#45;skin="sidebar&#45;default" href="#"> -->
<!-- 					<span class="color default"></span> Default -->
<!-- 					<i class="fa fa&#45;check"></i> -->
<!-- 				</a> -->
<!-- 			</li> -->
<!-- 			<li> -->
<!-- 				<a data&#45;skin="sidebar&#45;clear" href="#"> -->
<!-- 					<span class="color clear"></span> Clear -->
<!-- 					<i class="fa fa&#45;check"></i> -->
<!-- 				</a> -->
<!-- 			</li> -->
<!-- 			<li> -->
<!-- 				<a data&#45;skin="sidebar&#45;black" href="#"> -->
<!-- 					<span class="color black"></span> Black -->
<!-- 					<i class="fa fa&#45;check"></i> -->
<!-- 				</a> -->
<!-- 			</li> -->
<!-- 			<li> -->
<!-- 				<a data&#45;skin="sidebar&#45;dark" href="#"> -->
<!-- 					<span class="color dark"></span> Dark -->
<!-- 					<i class="fa fa&#45;check"></i> -->
<!-- 				</a> -->
<!-- 			</li> -->
<!-- 			<li> -->
<!-- 				<a data&#45;skin="sidebar&#45;flat" href="#"> -->
<!-- 					<span class="color flat"></span> Flat -->
<!-- 					<i class="fa fa&#45;check"></i> -->
<!-- 				</a> -->
<!-- 			</li> -->
<!-- 			<li> -->
<!-- 				<a data&#45;skin="sidebar&#45;flat&#45;dark" href="#"> -->
<!-- 					<span class="color flat&#45;dark"></span> Flat dark -->
<!-- 					<i class="fa fa&#45;check"></i> -->
<!-- 				</a> -->
<!-- 			</li> -->
<!-- 		</ul> -->
<!--   </div> -->
<!-- </body> -->
<!--   <!&#45;&#45; </body> &#45;&#45;> -->
<!--  -->
